	<edge id="{linkId}" source="{sourceId}" target="{targetId}">
      <data key="d8"/>
      <data key="d9">
        <y:PolyLineEdge>
          <y:Path sx="0" sy="0" tx="0" ty="0"/>
          <y:LineStyle color="#555555" type="line" width="1"/>
          <y:Arrows source="none" target="standard"/>
          <y:BendStyle smoothed="false"/>
        </y:PolyLineEdge>
      </data>
    </edge>